/* Fontes Customizadas */

/* Acumin Pro */
@font-face {
    font-family: "Acumin Pro";
    src: url("/fonts/acumin_pro/AcuminPro_Bold_Italic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Acumin Pro";
    src: url("/fonts/acumin_pro/AcuminPro_Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Acumin Pro";
    src: url("/fonts/acumin_pro/AcuminPro_Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Acumin Pro";
    src: url("/fonts/acumin_pro/AcuminPro_Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Acumin Pro";
    src: url("/fonts/acumin_pro/AcuminPro_Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* Trajan Pro */

@font-face {
    font-family: "Trajan Pro";
    src: url("/fonts/trajan_pro/TrajanPro_Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Trajan Pro";
    src: url("/fonts/trajan_pro/TrajanPro_Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

:root {
    --brand-color-white: #ffffff;
    --brand-color-gray: #4c4c4c;
    --brand-color-beige: #bea07d;

    --brand-color-gray-light: #d9d9d9;
    --brand-color-beige-bright: #ce9f68;

    --main-text-color: var(--brand-color-gray);
    --alt-text-color: var(--brand-color-white);
    --special-text-color: var(--brand-color-beige);
    --active-text-color: var(--brand-color-beige-bright);

    --main-background-color: var(--brand-color-white);
    --alt-background-color: var(--brand-color-gray);

    --very-small-gap: 0.25rem;
    --small-gap: 0.5rem;
    --medium-gap: 1rem;
    --big-gap: 2rem;
    --large-gap: 3rem;
    --extra-large-gap: 4rem;

    --container-padding: 6rem;
    --whatsapp-btn-size: 4rem;

    --default-border-radius: var(--small-gap);

    --text-font-family: "Acumin Pro", sans-serif;
    --title-font-family: "Trajan Pro", sans-serif;
}

/* ------ General Styles ------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 10vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font-family);
    color: var(--special-text-color);
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

p,
span,
a,
button,
input,
label {
    font-family: var(--text-font-family);
    color: var(--main-text-color);
}

.Banner_Btn,
.Page_Button {
    padding: var(--medium-gap) var(--big-gap);

    cursor: pointer;
    background-color: var(--special-text-color);
    color: var(--alt-text-color);
    border: none;
    border-radius: var(--default-border-radius);

    display: flex;
    justify-content: center;
    align-items: center;

    gap: var(--small-gap);

    text-decoration: none;
}

.Page_Button > p {
    margin-bottom: 0.125rem;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.0625rem;
    color: var(--alt-text-color);
}

.Page_Button > span {
    color: var(--alt-text-color);
    transition: padding 0.2s ease-in-out;
}

.Page_Button:hover > span {
    padding-left: 1rem;
}

.Page_Button > svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--alt-text-color);
    flex-shrink: 0;

    transition: margin 0.2s ease-in-out;
}

.Page_Button:hover > svg {
    margin-left: 1rem;
}

main {
    margin-top: 10vh;
}

section {
    display: flex;
    flex-direction: row;
    scroll-snap-align: start;
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--medium-gap);
    padding: var(--medium-gap);
    background-color: var(--main-background-color);
    flex-basis: 50%;
    max-width: 50%;
    flex-shrink: 0;
    height: 90vh;
}

.Centered_Container {
    justify-content: center;
}

.Full_Centered_Container {
    justify-content: center;
    align-items: center;
}

.Padded_Container {
    padding: var(--container-padding);
}

.Unpadded_Container {
    padding: 0;
}

.Ungaped_Container {
    gap: 0;
}

.Dark_Container {
    background-color: var(--alt-background-color);
    z-index: 1;
}

.Special_Container {
    background-color: var(--special-text-color);
}

.Low_Container {
    z-index: 0;
}

.High_Container {
    z-index: 4;
}

.Image_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.Section_Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Container > p {
    max-width: 64ch;
    font-size: 1.4rem;
}

.Container > p.Smaller_Paragraph {
    max-width: 55ch;
    font-size: 1.4rem;
}

.Alt_Paragraphs > p {
    color: var(--alt-text-color);
    font-weight: 300;
    font-size: clamp(0.8rem, 1.2vw, 1.2rem);
}

.Full_Width_Paragraphs > p {
    max-width: unset;
}

.Full_Width_Container {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
}

.Half_Width_Container {
    max-width: 50%;
}

.Relative_Container {
    position: relative;
}

/* Whatsapp Btn */

.WhatsApp_Action_Container {
    position: fixed;

    display: flex;
    align-items: center;
    gap: var(--medium-gap);

    bottom: var(--medium-gap);
    right: var(--medium-gap);
    z-index: 0;
}

.WhatsApp_Action_Container.Left {
    right: unset;
    left: var(--medium-gap);
    flex-direction: row-reverse;
}

.WhatsApp_Action_Container.Left > .WhatsApp_Action_Logo > .WhatsApp_Action_Logo_Vector {
    transform: scaleX(-1);
}

.WhatsApp_Btn {
    font-size: 1.2rem;
    font-weight: 300;
    padding-block: var(--small-gap);
}

.WhatsApp_Action_Logo_Vector {
    height: var(--whatsapp-btn-size);
    width: auto;
    cursor: pointer;
}

.WhatsApp_High_Container {
    z-index: 4;
}

/* ------ Navbar ------ */

.Navbar_Top {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    display: flex;
    align-items: center;

    gap: var(--medium-gap);

    padding: var(--medium-gap);
    background-color: var(--special-text-color);
}

.Navbar_Logo_Container {
    display: flex;
    align-items: center;
    flex: 1;
}

.Navbar_Link_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--medium-gap);
    flex: 2;
}

.Navbar_Link {
    font-size: 1.5rem;
    font-family: var(--title-font-family);
    color: var(--alt-text-color);

    text-decoration: none;
}

.Navbat_Tools_Container {
    display: flex;
    align-items: center;
    gap: var(--medium-gap);
    justify-content: flex-end;
    flex: 1;
}

.Nav_Button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.Nav_Button > span {
    color: var(--alt-text-color);
}

.Menu_Btn > span {
    font-size: 2.4rem;
}

/* ------ Seção de Início ------  */

.Intro_Logo_Image {
    width: 50%;
    height: auto;
}

.Intro_Actions_Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--small-gap);
}

/* ------ Seção de Serviços ------  */

.Banner_Slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: var(--medium-gap);
}

.Banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--medium-gap);
    width: 100%;
    flex: 2;

    padding-inline: var(--large-gap);
}

.Banner_Title {
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--alt-text-color);
    z-index: 3;
}

.Banner_Description {
    text-align: center;
    color: var(--alt-text-color);
    max-width: 65ch;
    font-size: 1.2rem;
    letter-spacing: 0.0625rem;
    font-weight: 300;
    z-index: 3;
}

.Banner_Btn {
    font-weight: 100;
    z-index: 3;
    text-decoration: none;

    transition: scale 0.2s ease-in-out;
}

.Banner_Btn:hover {
    scale: 1.1;
}

.Banner_Img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 20%;
    z-index: 2;
}

.Banner_Slider_Btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 3;
    left: var(--medium-gap);

    display: flex;
    align-items: center;
    justify-content: center;
}

.Banner_Slider_Btn:hover > span {
    scale: 1.2;
}

.Banner_Slider_Btn.Next_Btn {
    left: unset;
    right: var(--medium-gap);
}

.Banner_Slider_Btn > span {
    font-size: 2.4rem;
    width: 2.4rem;
    height: 2.4rem;
    color: var(--alt-text-color);
    transition: scale 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Banner_Slider_Indicator {
    position: absolute;
    bottom: var(--big-gap);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: var(--small-gap);
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.Banner_Slider_Indicator_Dot {
    width: 0.75rem;
    height: 0.75rem;
    opacity: 50%;
    border-radius: 50%;
    background-color: var(--alt-text-color);
    cursor: pointer;

    transition: opacity 0.2s ease-in-out, scale 0.2s ease-in-out;
}

.Banner_Slider_Indicator_Dot.Active {
    opacity: 100%;
    scale: 1.4;
}

/* ------ Detalhe de Expertise ------ */

.Expertise_Header_Top {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--medium-gap);

    height: 50%;
    flex-basis: 50%;
    width: 100%;
}

.Expertise_Header_Top_Nav {
    position: absolute;
    top: var(--medium-gap);
    left: var(--medium-gap);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--small-gap);

    z-index: 3;
}

.Expertise_Header_Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Expertise_Header_Info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-block: var(--large-gap);
    padding-inline: var(--container-padding);
    gap: var(--small-gap);
    height: 50%;
    flex-basis: 50%;
    width: 100%;
}

.Expertise_Header_Info_Title {
    text-align: center;
    font-size: 1.8rem;
}

.Expertise_Header_Info_Subtitle {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.5rem;
    font-family: var(--text-font-family);
    font-weight: 300;
}

.Expertise_Header_Info_Description {
    max-width: 64ch;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.125rem;
    color: var(--alt-text-color);
    text-align: center;
}

.Services_List {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-rows: 280px;
    gap: var(--medium-gap);

    padding-right: var(--medium-gap);

    overflow-y: auto;
}

.Services_List::-webkit-scrollbar {
    width: 0.25rem;
}

.Services_List::-webkit-scrollbar-thumb {
    background-color: var(--special-text-color);
    border-radius: var(--default-border-radius);
}

.Services_List::-webkit-scrollbar-track {
    background-color: var(--brand-color-gray-light);
}

.Services_List_Item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--small-gap);
    padding: var(--medium-gap);
    background-color: var(--brand-color-gray-light);
    border-radius: var(--default-border-radius);
}

.Services_List_Item_Title {
    font-family: var(--text-font-family);
    font-weight: 800;
    color: var(--main-text-color);
}

.Services_List_Item_Button {
    margin-top: auto;
    margin-left: auto;
    padding: var(--medium-gap) var(--large-gap);

    transition: scale 0.2s ease-in-out;
    transform-origin: right bottom;
}

.Services_List_Item_Button:hover {
    scale: 1.05;
}

/* ------ Detalhe de Serviço ------ */

.Service_Full_Description {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
}

.Service_Full_Description {
    flex: 1;
    padding-right: var(--medium-gap);

    overflow-y: auto;
}

.Service_Full_Description::-webkit-scrollbar {
    width: 0.25rem;
}

.Service_Full_Description::-webkit-scrollbar-thumb {
    background-color: var(--special-text-color);
    border-radius: var(--default-border-radius);
}

.Service_Full_Description::-webkit-scrollbar-track {
    background-color: var(--brand-color-gray-light);
}

.Service_Full_Description_Title {
    font-family: var(--text-font-family);
    color: var(--special-text-color);
    font-size: 2rem;
}

.Service_Full_Description_Paragraph {
    font-family: var(--text-font-family);
    color: var(--main-text-color);
    font-size: 1.4rem;
    font-weight: 300;
}

.Service_Full_Description_Pattern {
    width: 100%;
    height: 25%;

    flex-shrink: 0;

    background-image: repeating-linear-gradient(
        90deg,
        var(--brand-color-beige),
        var(--brand-color-beige) 2px,
        /* Change vw to px */ transparent 2px,
        /* Change vw to px */ transparent 22px /* Change vw to px */
    );
}

.Service_Full_Description_Pattern:first-of-type {
    margin-bottom: var(--big-gap);
}

.Service_Full_Description_Pattern:last-of-type {
    margin-top: var(--big-gap);
}

/* ------ Página Sobre o Escritório ------ */

.Team_Members_Container {
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-rows: 20rem;
    grid-gap: 2px;
    overflow-y: auto;
    padding-right: var(--medium-gap);
}

.Team_Members_Container::-webkit-scrollbar {
    width: 0.25rem;
}

.Team_Members_Container::-webkit-scrollbar-thumb {
    background-color: var(--special-text-color);
    border-radius: var(--default-border-radius);
}

.Team_Members_Container::-webkit-scrollbar-track {
    background-color: var(--brand-color-gray-light);
}

.Team_Member_Card {
    background-color: var(--brand-color-gray-light);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    text-decoration: none;

    overflow: hidden;

    cursor: pointer;
    border-radius: 1.5rem;
}

.Team_Members_Container_Alt {
    flex: 1;
    width: 100%;
    display: flex;
    overflow-x: auto;
    gap: var(--medium-gap);
    padding-bottom: var(--medium-gap);

    cursor: grab;
}

.Team_Members_Container_Alt:active {
    /* your styles here */

    cursor: grabbing;
}

.Team_Members_Container_Alt::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

.Team_Members_Container_Alt::-webkit-scrollbar-thumb {
    background-color: var(--special-text-color);
    border-radius: var(--default-border-radius);
}

.Team_Members_Container_Alt::-webkit-scrollbar-track {
    background-color: var(--brand-color-gray-light);
}

.Team_Member_Card_Alt {
    position: relative;
    background-color: var(--brand-color-gray-light);
    height: 100%;
    aspect-ratio: 2/3;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    text-decoration: none;

    overflow: hidden;

    border-radius: 1.5rem;

    scroll-snap-align: start;

    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;
}

.Team_Member_Card:hover {
}

.Team_Member_Card_Footer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: var(--medium-gap);
    padding-top: var(--large-gap);
    background-image: linear-gradient(to top, var(--brand-color-gray), transparent);
}

.Team_Member_Card_Name {
    font-size: 1.2rem;
    font-family: var(--text-font-family);
    color: var(--brand-color-white);
}

.Team_Member_Card_Role {
    font-size: 1rem;
    font-family: var(--text-font-family);
    font-weight: 300;
    color: var(--brand-color-white);
}

.Team_Member_Card_Link {
    position: absolute;
    bottom: var(--medium-gap);
    right: var(--medium-gap);
    text-decoration: none;
    color: var(--brand-color-white);
    font-size: 2.5rem !important;
    cursor: pointer;

    transition: scale 0.2s ease-in-out;
}

.Team_Member_Card_Link:hover {
    scale: 1.1;
}

.Team_Member_Card_Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
    pointer-events: none;
    position: absolute;
}

.Pictures_Container {
    display: flex;
    width: 100%;
    flex: 1;
    gap: var(--medium-gap);
    overflow-x: auto;
    padding-bottom: var(--medium-gap);

    cursor: grab;
}

.no-smooth-scroll {
    scroll-behavior: auto !important;
}

.Pictures_Container:active {
    /* your styles here */

    cursor: grabbing;
}

.Pictures_Container::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

.Pictures_Container::-webkit-scrollbar-thumb {
    background-color: var(--main-text-color);
    border-radius: var(--default-border-radius);
}

.Pictures_Container::-webkit-scrollbar-track {
    background-color: var(--brand-color-gray-light);
}

.Picture_Frame {
    height: 100%;
    width: auto;

    scroll-snap-align: start;

    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;
}
.Picture_Frame > img {
    width: auto;
    height: 100%;
    border-radius: var(--default-border-radius);

    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;

    pointer-events: none;
}

/* ------ Página Sobre os Profissionais ------ */
.Team_Member_Description_Card {
    display: flex;
    gap: var(--medium-gap);
    margin-inline: auto;
}

.Team_Member_Description_Card_Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--small-gap);
}

.Team_Member_Description_Card_Info > p {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--alt-text-color);
    max-width: 60ch;
}

.Team_Member_Container_Image {
    height: 60vh;
    width: 45vh;
    background-color: var(--brand-color-gray-light);
    border-radius: var(--default-border-radius);
    object-fit: cover;
}

.Team_Member_Container_Header {
    display: flex;
    flex-direction: column;
}

.Team_Member_Container_Header > h1 {
    font-family: var(--text-font-family);
    text-transform: capitalize;
}
.Team_Member_Container_Header > h2 {
    margin-top: -0.6rem;
    font-family: var(--text-font-family);
    font-weight: 300;
    margin-bottom: 0.125rem;
}

.Team_Member_Container_OAB_Link {
    font-size: 1rem;
    font-family: var(--text-font-family);
    display: flex;
    align-items: center;
    gap: 0.25rem;

    margin-top: var(--small-gap);

    letter-spacing: 0.025rem;

    color: var(--special-text-color);

    text-decoration: none;
}

.Team_Member_Container_OAB_Link > span {
    font-weight: 300;
    color: var(--special-text-color);
    font-size: 1.1rem;
}

/* ------ Atualizações e Novidades ------ */

.Insta_Feed_Wrapper {
    position: absolute;
    inset: 1rem;

    overflow-x: auto;

    display: flex;
    flex-direction: row;

    gap: var(--medium-gap);

    padding-bottom: var(--small-gap);

    cursor: grab;
}

.Insta_Feed_Wrapper:active {
    /* your styles here */

    cursor: grabbing;
}

.Insta_Feed_Wrapper::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

.Insta_Feed_Wrapper::-webkit-scrollbar-thumb {
    background-color: var(--special-text-color);
    border-radius: var(--default-border-radius);
}

.Insta_Feed_Wrapper::-webkit-scrollbar-track {
    background-color: var(--brand-color-gray-light);
}

.Insta_Feed_Item {
    height: 100%;
    width: 100%;

    flex-basis: 100%;
    flex-shrink: 0;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    padding: var(--large-gap);
}

.Insta_Feed_Item > img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: contain;

    background-color: black;
    border-radius: var(--default-border-radius);

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);

    user-select: none;
    pointer-events: none;
}

.Insta_Feed_Item > video {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: contain;

    background-color: black;
    border-radius: var(--default-border-radius);

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);

    user-select: none;
    pointer-events: none;
}

.Insta_Feed_Video_Button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    user-select: none;

    transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.Insta_Feed_Video_Button > span {
    font-size: 4rem;
    color: var(--alt-text-color);
}

.Insta_Feed_Video_Button.playing {
    top: calc(100% - var(--large-gap));
    left: calc(100% - var(--large-gap));
    transform: translate(-100%, -100%);
}

/* ------ New Banner ------ */

.New_Banner_Container {
    position: relative;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.New_Banner_Wrapper {
    display: flex;

    position: absolute;

    cursor: grab;
}

.New_Banner_Wrapper:active {
    /* your styles here */

    cursor: grabbing;
}

.New_Banner_Slide {
    width: 100%;
    height: calc(90vh - 2 * var(--medium-gap));
    flex-shrink: 0;
}

.New_Insta_Feed_Slide {
    width: 100%;
    height: 90vh;
    flex-shrink: 0;
    position: relative;
}

.New_Insta_Feed_Slide > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.New_Insta_Feed_Slide > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.New_Banner_Slide > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    border-radius: var(--default-border-radius);
}

.New_Banner_Indicator {
    position: absolute;
    bottom: var(--medium-gap);
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: var(--small-gap);
}

.New_Banner_Indicator_Dot {
    width: 0.75rem;
    height: 0.75rem;
    opacity: 50%;
    border-radius: 50%;
    background-color: var(--alt-text-color);
    cursor: pointer;

    transition: opacity 0.2s ease-in-out, scale 0.2s ease-in-out;
}

.New_Banner_Indicator_Dot.active {
    opacity: 100%;
    scale: 1.4;
}

/* ------ Footer ------ */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    z-index: 1;
    position: relative;
    background-color: var(--main-text-color);
    scroll-snap-align: start;
}
